<div class="total">
    <div>
        <img class="sun" src="../../../assets/img/sun.gif" alt="sun">
        <img class="cloudl" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudr" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudsl" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="cloudsr" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="butterfliesl" src="../../../assets/img/butterflies.gif" alt="butterflies">
        <img class="butterfliesr" src="../../../assets/img/butterflies.gif" alt="butterflies">  
    </div>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/5.gif" alt="5">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Узнай буковки, которые любят петь.</p>
        </div>

        <div>
            <div style="width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/у.gif" alt="у" id="u" class="imgInDiv" (click)="clickImgU()">
                <img style="border: 3px solid red;" src="../../../assets/img/и.gif" alt="и" id="i" class="imgInDiv" (click)="clickImgI()">
                <img style="border: 3px solid red;" src="../../../assets/img/а.gif" alt="а" id="a" class="imgInDiv" (click)="clickImgA()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/индеец.png" id="indian" alt="индеец" class="imgInDiv" (click)="clickImgIndian()">
                <img src="../../../assets/img/ананас.png" alt="ананас" id="pineapple" class="imgInDiv" (click)="clickImgPineapple()">
                <img src="../../../assets/img/улитка.png" alt="улитка" id="snail" class="imgInDiv" (click)="clickImgSnail()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3()">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/у.gif" alt="у" id="u2" class="imgInDiv" (click)="clickImgU2()">
                <img style="border: 3px solid red;" src="../../../assets/img/и.gif" alt="и" id="i2" class="imgInDiv" (click)="clickImgI2()">
                <img style="border: 3px solid red;" src="../../../assets/img/а.gif" alt="а" id="a2" class="imgInDiv" (click)="clickImgA2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/ирис.png" id="iris" alt="ирис" class="imgInDiv" (click)="clickImgIris()">
                <img src="../../../assets/img/акула.png" alt="акула" id="shark" class="imgInDiv" (click)="clickImgShark()">
                <img src="../../../assets/img/удод.png" alt="удот" id="udot" class="imgInDiv" (click)="clickImgUdot()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Вспомни буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/е.gif" alt="е" id="e" class="imgInDiv" (click)="clickImgE()">
                <img style="border: 3px solid red;" src="../../../assets/img/я.gif" alt="я" id="ya" class="imgInDiv" (click)="clickImgYa()">
                <img style="border: 3px solid red;" src="../../../assets/img/о.gif" alt="о" id="o" class="imgInDiv" (click)="clickImgO()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/ящерица.png" id="lizard" alt="ящерица" class="imgInDiv" (click)="clickImgLizard()">
                <img src="../../../assets/img/обруч.png" alt="обруч" id="hoop" class="imgInDiv" (click)="clickImgHoop()">
                <img src="../../../assets/img/енот.png" alt="енот" id="raccoon" class="imgInDiv" (click)="clickImgRaccoon()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/е.gif" alt="е" id="e2" class="imgInDiv" (click)="clickImgE2()">
                <img style="border: 3px solid red;" src="../../../assets/img/я.gif" alt="я" id="ya2" class="imgInDiv" (click)="clickImgYa2()">
                <img style="border: 3px solid red;" src="../../../assets/img/о.gif" alt="о" id="o2" class="imgInDiv" (click)="clickImgO2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/ягненок.png" id="lamb" alt="ягненок" class="imgInDiv" (click)="clickImgLamb()">
                <img src="../../../assets/img/овощи.png" alt="овощи" id="vegetables" class="imgInDiv" (click)="clickImgVegetables()">
                <img src="../../../assets/img/енот.png" alt="енот" id="raccoon2" class="imgInDiv" (click)="clickImgRaccoon2()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6()">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style=" width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/к.gif" alt="к" id="k" class="imgInDiv" (click)="clickImgK()">
                <img style="border: 3px solid red;" src="../../../assets/img/п.gif" alt="п" id="p" class="imgInDiv" (click)="clickImgP()">
                <img style="border: 3px solid red;" src="../../../assets/img/К(з).gif" alt="к" id="k2" class="imgInDiv" (click)="clickImgK2()">
                <img style="border: 3px solid red;" src="../../../assets/img/П(з).gif" alt="п" id="p2" class="imgInDiv" (click)="clickImgP2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/пингвин.png" id="penguin" alt="пингвин" class="imgInDiv" (click)="clickImgPenguin()">
                <img src="../../../assets/img/кот2.png" alt="кот" id="cat" class="imgInDiv" (click)="clickImgCat()">
                <img src="../../../assets/img/панда.png" alt="панда" class="imgInDiv" id="panda" (click)="clickImgPanda()">
                <img src="../../../assets/img/кит.png" alt="кит" class="imgInDiv" id="whale" (click)="clickImgWhale()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7()">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style=" width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/к.gif" alt="к" id="k3" class="imgInDiv" (click)="clickImgK3()">
                <img style="border: 3px solid red;" src="../../../assets/img/п.gif" alt="п" id="p3" class="imgInDiv" (click)="clickImgP3()">
                <img style="border: 3px solid red;" src="../../../assets/img/К(з).gif" alt="к" id="k4" class="imgInDiv" (click)="clickImgK4()">
                <img style="border: 3px solid red;" src="../../../assets/img/П(з).gif" alt="п" id="p4" class="imgInDiv" (click)="clickImgP4()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/попугай.png" id="parrot" alt="попугай" class="imgInDiv" (click)="clickImgParrot()">
                <img src="../../../assets/img/кактус.png" alt="кактус" id="cactus" class="imgInDiv" (click)="clickImgCactus()">
                <img src="../../../assets/img/пистолет.png" alt="пистолет" class="imgInDiv" id="gun" (click)="clickImgGun()">
                <img src="../../../assets/img/киви.png" alt="киви" class="imgInDiv" id="kiwi" (click)="clickImgKiwi()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv8()">Жми!</a>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style=" width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/л.gif" alt="Л" id="l" class="imgInDiv" (click)="clickImgL()">
                <img style="border: 3px solid red;" src="../../../assets/img/м.gif" alt="м" id="m" class="imgInDiv" (click)="clickImgM()">
                <img style="border: 3px solid red;" src="../../../assets/img/Л(з).gif" alt="Л" id="l2" class="imgInDiv" (click)="clickImgL2()">
                <img style="border: 3px solid red;" src="../../../assets/img/м2.gif" alt="м" id="m2" class="imgInDiv" (click)="clickImgM2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/мышь.png" id="mouse" alt="мышь" class="imgInDiv" (click)="clickImgMouse()">
                <img src="../../../assets/img/лис.png" alt="лис" id="fox" class="imgInDiv" (click)="clickImgFox()">
                <img src="../../../assets/img/медведь.png" alt="медведь" class="imgInDiv" id="bear" (click)="clickImgBear()">
                <img src="../../../assets/img/лось.png" alt="лось" class="imgInDiv" id="moose" (click)="clickImgMoose()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv9()">Жми!</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Узнай буковки в новых словах.</p>
        </div>

        <div>
            <div style=" width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/л.gif" alt="Л" id="l3" class="imgInDiv" (click)="clickImgL3()">
                <img style="border: 3px solid red;" src="../../../assets/img/м.gif" alt="м" id="m3" class="imgInDiv" (click)="clickImgM3()">
                <img style="border: 3px solid red;" src="../../../assets/img/Л(з).gif" alt="Л" id="l4" class="imgInDiv" (click)="clickImgL4()">
                <img style="border: 3px solid red;" src="../../../assets/img/м2.gif" alt="м" id="m4" class="imgInDiv" (click)="clickImgM4()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/медуза.png" id="jellyfish" alt="медуза" class="imgInDiv" (click)="clickImgJellyfish()">
                <img src="../../../assets/img/лимон.png" alt="лимон" id="lemon" class="imgInDiv" (click)="clickImgLemon()">
                <img src="../../../assets/img/малина.png" alt="малина" class="imgInDiv" id="raspberry" (click)="clickImgRaspberry()">
                <img src="../../../assets/img/лук.png" alt="лук" class="imgInDiv" id="onion" (click)="clickImgOnion()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv10()">Жми!</a>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input id="input1" type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input id="input2" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input id="input3" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input id="input4" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input id="input5" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input id="input6" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input id="input7" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input id="input8" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input id="input9" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input id="input10" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Котик говорит</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/кот2.png" alt="кот">
            <img class="letter" src="../../../assets/img/м2.gif" alt="м">
            <img class="letter" src="../../../assets/img/я.gif" alt="я">
            <img class="letter" src="../../../assets/img/у.gif" alt="У">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">МУЯ</button>
            <button class="yellow noselect" (click)="viewDiv12()">МЯУ</button>
            <button class="yellow noselect">ЯМУ</button>
            <button class="yellow noselect">УМЯ</button>
            <button class="yellow noselect">УЯМ</button>
        </div>
    </div>

    <div id="div12">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px;" src="../../../assets/img/м2.gif" alt="м">
            <img style="width: 100px;" src="../../../assets/img/я.gif" alt="я">
            <img style="width: 100px;" src="../../../assets/img/у.gif" alt="У">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForM" (click)="clickDivForM()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForYa" (click)="clickDivForYa()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForU" (click)="clickDivForU()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/м2.gif" id="imgM" class="imgInDiv" (click)="clickImgM5()">
                <img src="../../../assets/img/я.gif" id="imgYa" class="imgInDiv" (click)="clickImgYa5()">
                <img src="../../../assets/img/у.gif" id="imgU" class="imgInDiv" (click)="clickImgU5()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv13()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Ослик говорит</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/и.gif" alt="и">
            <img class="letter" src="../../../assets/img/а.gif" alt="а">
            <img class="print" src="../../../assets/img/осел.png" alt="осел">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv14()">ИА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/и.gif" alt="и">
            <img src="../../../assets/img/а.gif" alt="а">
        </div>

        <div class="center">
            <img id="image1" src="../../../assets/img/а.gif" alt="а">
            <button style="height:90px; display: flex; justify-content: center; align-items: center;" (click)="changeImage1()"><img style="height:70px;" src="../../../assets/img/стрелка.png"></button>
            <img id="image2" src="../../../assets/img/и.gif" alt="и">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage1()">Проверить</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Корова говорит</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/м.gif" alt="м">
            <img class="letter" src="../../../assets/img/у.gif" alt="у">
            <img class="print" src="../../../assets/img/корова.png" alt="корова">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv16()">МУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect">КУ</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">МИ</button>
        </div>
    </div>

    <div id="div16">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px; height: 140px;" src="../../../assets/img/м.gif" alt="М">
            <img style="width: 100px; height: 140px;" src="../../../assets/img/у.gif" alt="У">
        </div>

        <div class="center">
            <img style="width: 100px; height: 140px;" src="../../../assets/img/у.gif" alt="У" id="image3">
            <button style="height:90px; display: flex; justify-content: center; align-items: center;" (click)="changeImage2()"><img style="height:70px;" src="../../../assets/img/стрелка.png"></button>
            <img style="width: 100px; height: 140px;" src="../../../assets/img/м.gif" alt="М" id="image4">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage2()">Проверить</a>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Коза говорит</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/м2.gif" alt="м">
            <img class="letter" src="../../../assets/img/е.gif" alt="е">
            <img class="print" src="../../../assets/img/коза.png" alt="коза">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">МУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect">УА</button>
            <button class="yellow noselect">КУ</button>
            <button class="yellow noselect" (click)="viewDiv18()">МЕ</button>
        </div>
    </div>

    <div id="div18">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px; height: 140px;" src="../../../assets/img/м2.gif" alt="М">
            <img style="width: 100px; height: 140px;" src="../../../assets/img/е.gif" alt="Е">
        </div>

        <div class="center">
            <img style="width: 100px; height: 140px;" id="image5" src="../../../assets/img/е.gif" alt="Е">
            <button style="height:90px; display: flex; justify-content: center; align-items: center;" (click)="changeImage3()"><img style="height:70px;" src="../../../assets/img/стрелка.png"></button>
            <img style="width: 100px; height: 140px;" id="image6" src="../../../assets/img/м2.gif" alt="М">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage3()">Проверить</a>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img style="height: 100px;" src="../../../assets/img/коза.png">
            <img style="height: 100px;" src="../../../assets/img/корова.png">
        </div>
    
        <div>
            <img class="letter" src="../../../assets/img/м.gif" alt="м">
            <img class="letter" src="../../../assets/img/о.gif" alt="О">
            <img class="letter" src="../../../assets/img/л.gif" alt="Л">
            <img class="letter" src="../../../assets/img/о.gif" alt="О">
            <img class="letter" src="../../../assets/img/к.gif" alt="К">
            <img class="letter" src="../../../assets/img/о.gif" alt="О">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width: 300px;" class="yellow noselect">МАЛОКО</button>
            <button style="width: 300px;" class="yellow noselect" (click)="viewDiv20()">МОЛОКО</button>
            <button style="width: 300px;" class="yellow noselect">МОЛАКО</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height: 130px;" src="../../../assets/img/м.gif" alt="м">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForM6" (click)="clickDivForM6()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO3" (click)="clickDivForO3()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForL5" (click)="clickDivForL5()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO4" (click)="clickDivForO4()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForK5" (click)="clickDivForK5()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO5" (click)="clickDivForO5()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/о.gif" id="imgO3" class="imgInDiv" (click)="clickImgO3()">
                <img src="../../../assets/img/л.gif" id="imgL5" class="imgInDiv" (click)="clickImgL5()">
                <img src="../../../assets/img/м.gif" id="imgM6" class="imgInDiv" (click)="clickImgM6()">
                <img src="../../../assets/img/к.gif" id="imgK5" class="imgInDiv" (click)="clickImgK5()">
                <img src="../../../assets/img/о.gif" id="imgO4" class="imgInDiv" (click)="clickImgO4()">
                <img src="../../../assets/img/о.gif" id="imgO5" class="imgInDiv" (click)="clickImgO5()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv21()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height: 130px;" src="../../../assets/img/кот2.png" alt="кот">
            <img style="height: 130px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
            <img style="height: 130px;" src="../../../assets/img/м.gif" alt="М">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 50px;" src="../../../assets/img/точка.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display: flex; flex-direction: column;">
            <div>
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect" (click)="viewDiv22()">МОЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МАЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ИА</span>
                <input id="input11" type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">МУ</span>
                <input id="input12" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МОЛОКО</span>
                <input id="input13" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЕ</span>
                <input id="input14" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЯУ</span>
                <input id="input15" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput2()">Проверить</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/а.gif" alt="A">
            <img src="../../../assets/img/и.gif" alt="И">
            <img src="../../../assets/img/о.gif" alt="О">
            <img style="width: 110px;" src="../../../assets/img/л.gif" alt="л">
            <img style="width: 110px;"  src="../../../assets/img/Л(з).gif" alt="л">
            <img src="../../../assets/img/у.gif" alt="У">
            <img src="../../../assets/img/я.gif" alt="Я">
            <img style="width: 110px;" src="../../../assets/img/м.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/м2.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/к.gif" alt="К">
            <img style="width: 110px;"  src="../../../assets/img/К(з).gif" alt="К">
            <img style="width: 110px;"  src="../../../assets/img/п.gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/П(з).gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/е.gif" alt="Е">
        </div>

        <div style="margin-bottom: 100px;">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv24()">Домашнее задание</a>
        </div>
    </div>

    <div id="div24">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и соедини с картинкой.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div style="height: 220px;" class="inDiv">
                    <div class="textInDiv">МОЛОКО</div>
                    <div class="divInDiv" id="divForCowAndGoat" (click)="clickDivForCowAndGoat()"></div>
                </div>

                <div style="height: 220px;" class="inDiv">
                    <div class="textInDiv">МУ</div>
                    <div class="divInDiv" id="divForCow" (click)="clickDivForCow()"></div>
                </div>

                <div style="height: 220px;" class="inDiv">
                    <div class="textInDiv">МЯУ</div>
                    <div class="divInDiv" id="divForCat2" (click)="clickDivForCat2()"></div>
                </div>

                <div style="height: 220px;" class="inDiv">
                    <div class="textInDiv">ИА</div>
                    <div class="divInDiv" id="divForDonkey" (click)="clickDivForDonkey()"></div>
                </div>

                <div style="height: 220px;" class="inDiv">
                    <div class="textInDiv">МЕ</div>
                    <div class="divInDiv" id="divForGoat" (click)="clickDivForGoat()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img style="height: 135px;" src="../../../assets/img/осел.png" id="donkey" alt="осел" class="imgInDiv" (click)="clickImgDonkey()">
                <img style="height: 135px;" src="../../../assets/img/коза.png" id="goat" alt="коза" class="imgInDiv" (click)="clickImgGoat()">
                <img style="height: 135px;" src="../../../assets/img/корова и коза.png" id="cowAndGoat" alt="корова и коза" class="imgInDiv" (click)="clickImgCowAndGoat()">
                <img style="height: 135px;" src="../../../assets/img/кот2.png" id="cat2" class="imgInDiv" alt="кот" (click)="clickImgCat2()">
                <img style="height: 135px;" src="../../../assets/img/корова.png" id="cow" class="imgInDiv" alt="корова" (click)="clickImgCow()">
            </div>
        </div>
    </div>
</div>