<div class="total">
    <div>
        <img class="sun" src="../../../assets/img/sun.gif" alt="sun">
        <img class="cloudl" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudr" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudsl" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="cloudsr" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="butterfliesl" src="../../../assets/img/butterflies.gif" alt="butterflies">
        <img class="butterfliesr" src="../../../assets/img/butterflies.gif" alt="butterflies">  
    </div>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
            <img class="number1" src="../../../assets/img/3.gif" alt="3">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ю</span>
                <input id="input1" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input id="input2" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input id="input3" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input id="input4" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input id="input5" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input id="input6" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input id="input7" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input id="input8" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input id="input9" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ё</span>
                <input id="input10" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input id="input11" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input id="input12" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input id="input13" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Д</span>
                <input id="input14" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; width: 1500px; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/л.gif" alt="Л" id="imgL" class="imgInDiv" (click)="clickImgL()">
                <img style="border: 3px solid red;" src="../../../assets/img/Л(з).gif" alt="Л" id="imgL2" class="imgInDiv" (click)="clickImgL2()">
                <img style="border: 3px solid red;" src="../../../assets/img/л.gif" alt="Л" id="imgL3" class="imgInDiv" (click)="clickImgL3()">
                <img style="border: 3px solid red;" src="../../../assets/img/Л(з).gif" alt="Л" id="imgL4" class="imgInDiv" (click)="clickImgL4()">
                <img style="border: 3px solid red;" src="../../../assets/img/л.gif" alt="Л" id="imgL5" class="imgInDiv" (click)="clickImgL5()">
                <img style="border: 3px solid red;" src="../../../assets/img/Л(з).gif" alt="Л" id="imgL6" class="imgInDiv" (click)="clickImgL6()">
                <img style="border: 3px solid red;" src="../../../assets/img/л.gif" alt="Л" id="imgL7" class="imgInDiv" (click)="clickImgL7()">
                <img style="border: 3px solid red;" src="../../../assets/img/Л(з).gif" alt="Л" id="imgL8" class="imgInDiv" (click)="clickImgL8()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/лис.png" id="fox" alt="лис" class="imgInDiv" (click)="clickImgFox()">
                <img src="../../../assets/img/лук.png" alt="лук" id="onion" class="imgInDiv" (click)="clickImgOnion()">
                <img src="../../../assets/img/лягушка.png" alt="лягушка" id="frog" class="imgInDiv" (click)="clickImgFrog()">
                <img src="../../../assets/img/лось.png" alt="лось" class="imgInDiv" id="moose" (click)="clickImgMoose()">
                <img src="../../../assets/img/лейка.png" alt="лейка" id="wateringCan" class="imgInDiv" (click)="clickImgWateringCan()">
                <img src="../../../assets/img/ложка.png" alt="ложка" class="imgInDiv" id="spoon" (click)="clickImgSpoon()">
                <img src="../../../assets/img/лимон.png" alt="лимон" id="lemon" class="imgInDiv" (click)="clickImgLemon()">
                <img src="../../../assets/img/лупа.png" alt="лупа" class="imgInDiv" id="magnifier" (click)="clickImgMagnifier()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; width: 1500px; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/Д.gif" alt="Д" id="imgD" class="imgInDiv" (click)="clickImgD()">
                <img style="border: 3px solid red;" src="../../../assets/img/Д(з).gif" alt="Д" id="imgD2" class="imgInDiv" (click)="clickImgD2()">
                <img style="border: 3px solid red;" src="../../../assets/img/Д.gif" alt="Д" id="imgD3" class="imgInDiv" (click)="clickImgD3()">
                <img style="border: 3px solid red;" src="../../../assets/img/Д(з).gif" alt="Д" id="imgD4" class="imgInDiv" (click)="clickImgD4()">
                <img style="border: 3px solid red;" src="../../../assets/img/Д.gif" alt="Д" id="imgD5" class="imgInDiv" (click)="clickImgD5()">
                <img style="border: 3px solid red;" src="../../../assets/img/Д(з).gif" alt="Д" id="imgD6" class="imgInDiv" (click)="clickImgD6()">
                <img style="border: 3px solid red;" src="../../../assets/img/Д.gif" alt="Д" id="imgD7" class="imgInDiv" (click)="clickImgD7()">
                <img style="border: 3px solid red;" src="../../../assets/img/Д(з).gif" alt="Д" id="imgD8" class="imgInDiv" (click)="clickImgD8()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/диван.png" id="sofa" alt="диван" class="imgInDiv" (click)="clickImgSofa()">
                <img src="../../../assets/img/дыня.png" alt="дыня" id="melon" class="imgInDiv" (click)="clickImgMelon()">
                <img src="../../../assets/img/дятел.png" alt="дятел" id="woodpecker" class="imgInDiv" (click)="clickImgWoodpecker()">
                <img src="../../../assets/img/дрозд.png" alt="дрозд" class="imgInDiv" id="blackbird" (click)="clickImgBlackbird()">
                <img src="../../../assets/img/дерево.png" alt="дерево" id="tree" class="imgInDiv" (click)="clickImgTree()">
                <img src="../../../assets/img/дракон.png" alt="дракон" class="imgInDiv" id="dragon" (click)="clickImgDragon()">
                <img src="../../../assets/img/дельфин.png" alt="дельфин" id="dolphin" class="imgInDiv" (click)="clickImgDolphin()">
                <img src="../../../assets/img/дом.png" alt="дом" class="imgInDiv" id="house" (click)="clickImgHouse()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Вспомни буквы, которые любят петь.</p>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row; margin-bottom: 50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/игуана.png" class="imgInDiv1" title="И" alt="игуана">
                <input id="input15" type="text" class="inputInDiv1">
            </div>


            <div class="imgAndInput">
                <img src="../../../assets/img/ёлка.png" class="imgInDiv1" title="Ё" alt="ёлка">
                <input id="input16" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/удочка.png" class="imgInDiv1" title="У" alt="удочка">
                <input id="input17" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/окунь.png" class="imgInDiv1" title="О" alt="окунь">
                <input id="input18" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/акула.png" class="imgInDiv1" title="А" alt="акула">
                <input id="input19" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/енот.png" class="imgInDiv1" title="Е" alt="енот">
                <input id="input20" type="text" class="inputInDiv1">
            </div>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row; margin-bottom: 50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/ягоды.png" class="imgInDiv1" title="Я" alt="ягоды">
                <input id="input21" type="text" class="inputInDiv1">
            </div>


            <div class="imgAndInput">
                <img src="../../../assets/img/юрок.png" class="imgInDiv1" title="Ю" alt="юрок">
                <input id="input22" type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput2()">Проверить</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row; margin-bottom: 50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/лама.png" class="imgInDiv1" title="Л" alt="лама">
                <input id="input23" type="text" class="inputInDiv1">
            </div>


            <div class="imgAndInput">
                <img src="../../../assets/img/подсолнух.png" class="imgInDiv1" title="П" alt="подсолнух">
                <input id="input24" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/мельница.png" class="imgInDiv1" title="М" alt="мельница">
                <input id="input25" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/крокодил.png" class="imgInDiv1" title="К" alt="крокодил">
                <input id="input26" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/дельфин.png" class="imgInDiv1" title="Д" alt="дельфин">
                <input id="input27" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/журавль.png" class="imgInDiv1" title="Ж" alt="журавль">
                <input id="input28" type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput3()">Проверить</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Знакомимся с новой буквой!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Б.gif" alt="Б">
            <img class="print" src="../../../assets/img/бегемот.png" alt="бегемот">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect" (click)="viewDiv8()">Б</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Знакомимся с новой буквой!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Б(з)).gif" alt="Б">
            <img class="print" src="../../../assets/img/баран.png" alt="баран">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect" (click)="viewDiv9()">Б</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; width: 1500px; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/Б.gif" alt="Б" id="imgB" class="imgInDiv" (click)="clickImgB()">
                <img style="border: 3px solid red;" src="../../../assets/img/Б(з)).gif" alt="Б" id="imgB2" class="imgInDiv" (click)="clickImgB2()">
                <img style="border: 3px solid red;" src="../../../assets/img/Б.gif" alt="Б" id="imgB3" class="imgInDiv" (click)="clickImgB3()">
                <img style="border: 3px solid red;" src="../../../assets/img/Б(з)).gif" alt="Б" id="imgB4" class="imgInDiv" (click)="clickImgB4()">
                <img style="border: 3px solid red;" src="../../../assets/img/Б.gif" alt="Б" id="imgB5" class="imgInDiv" (click)="clickImgB5()">
                <img style="border: 3px solid red;" src="../../../assets/img/Б(з)).gif" alt="Б" id="imgB6" class="imgInDiv" (click)="clickImgB6()">
                <img style="border: 3px solid red;" src="../../../assets/img/Б.gif" alt="Б" id="imgB7" class="imgInDiv" (click)="clickImgB7()">
                <img style="border: 3px solid red;" src="../../../assets/img/Б(з)).gif" alt="Б" id="imgB8" class="imgInDiv" (click)="clickImgB8()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/бегемот.png" id="hippopotamus" alt="бегемот" class="imgInDiv" (click)="clickImgHippopotamus()">
                <img src="../../../assets/img/бочка.png" alt="бочка" id="barrel" class="imgInDiv" (click)="clickImgBarrel()">
                <img src="../../../assets/img/бегун.png" alt="бегун" id="runner" class="imgInDiv" (click)="clickImgRunner()">
                <img src="../../../assets/img/барабан.png" alt="барабан" class="imgInDiv" id="drum" (click)="clickImgDrum()">
                <img src="../../../assets/img/белка.png" alt="белка" id="squirrel" class="imgInDiv" (click)="clickImgSquirrel()">
                <img src="../../../assets/img/банан.png" alt="банан" class="imgInDiv" id="banana" (click)="clickImgBanana()">
                <img src="../../../assets/img/билет.png" alt="билет" id="ticket" class="imgInDiv" (click)="clickImgTicket()">
                <img src="../../../assets/img/баран.png" alt="баран" class="imgInDiv" id="ram" (click)="clickImgRam()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv10()">Жми!</a>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Прочитай слово!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Б.gif" alt="Б">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
            <img class="letter" src="../../../assets/img/Б.gif" alt="Б">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
            <img class="print" src="../../../assets/img/баба.png" alt="баба">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width: 200px;" class="yellow noselect">АБАБ</button>
            <button style="width: 200px;" class="yellow noselect">БААБ</button>
            <button style="width: 200px;" class="yellow noselect">БАББ</button>
            <button style="width: 200px;" class="yellow noselect" (click)="viewDiv11()">БАБА</button>
            <button style="width: 200px;" class="yellow noselect">АББА</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px;" src="../../../assets/img/Б.gif" alt="Б">
            <img style="width: 100px;" src="../../../assets/img/а.gif" alt="А">
            <img style="width: 100px;" src="../../../assets/img/Б.gif" alt="Б">
            <img style="width: 100px;" src="../../../assets/img/а.gif" alt="А">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForB9" (click)="clickDivForB9()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA" (click)="clickDivForA()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForB10" (click)="clickDivForB10()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA2" (click)="clickDivForA2()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/а.gif" id="imgA" class="imgInDiv" (click)="clickImgA()">
                <img src="../../../assets/img/а.gif" id="imgA2" class="imgInDiv" (click)="clickImgA2()">
                <img src="../../../assets/img/Б.gif" id="imgB9" class="imgInDiv" (click)="clickImgB9()">
                <img src="../../../assets/img/Б.gif" id="imgB10" class="imgInDiv" (click)="clickImgB10()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv12()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div12">
        <div>
            <img class="print" src="../../../assets/img/белка.png" alt="белка">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect" (click)="viewDiv13()">Б</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Б(з)).gif" alt="Б">
            <img class="letter" src="../../../assets/img/е.gif" alt="Е">
            <img class="letter" src="../../../assets/img/л.gif" alt="Л">
            <img class="letter" src="../../../assets/img/к.gif" alt="К">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
            <img class="print" src="../../../assets/img/белка.png" alt="белка">
        </div>

        <div>
            <button style="width: 290px;" class="yellow noselect">БЕЛАК</button>
            <button style="width: 290px;" class="yellow noselect" (click)="viewDiv14()">БЕЛКА</button>
            <button style="width: 290px;" class="yellow noselect">БАЛКЕ</button>
            <button style="width: 290px;" class="yellow noselect">БАЛКА</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px;" src="../../../assets/img/Б(з)).gif" alt="Б">
            <img style="width: 100px;" src="../../../assets/img/е.gif" alt="Е">
            <img style="width: 100px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="width: 100px;" src="../../../assets/img/к.gif" alt="К">
            <img style="width: 100px;" src="../../../assets/img/а.gif" alt="А">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForB11" (click)="clickDivForB11()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForE" (click)="clickDivForE()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForL9" (click)="clickDivForL9()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForK" (click)="clickDivForK()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA3" (click)="clickDivForA3()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/е.gif" id="imgE" class="imgInDiv" (click)="clickImgE()">
                <img src="../../../assets/img/к.gif" id="imgK" class="imgInDiv" (click)="clickImgK()">
                <img src="../../../assets/img/а.gif" id="imgA3" class="imgInDiv" (click)="clickImgA3()">
                <img src="../../../assets/img/л.gif" id="imgL9" class="imgInDiv" (click)="clickImgL9()">
                <img src="../../../assets/img/Б(з)).gif" id="imgB11" class="imgInDiv" (click)="clickImgB11()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv15()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div15">
        <div>
            <img class="print" src="../../../assets/img/уж.png" alt="уж">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv16()">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/уж.png" alt="уж">
            <img class="letter" src="../../../assets/img/у.gif" alt="У">
            <img class="letter" src="../../../assets/img/Ж.gif" alt="Ж">
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv17()">УЖ</button>
            <button class="yellow noselect">ЖУ</button>
            <button class="yellow noselect">ЁЖ</button>
            <button class="yellow noselect">ЕЖ</button>
            <button class="yellow noselect">ЖЕ</button>
        </div>
    </div>

    <div id="div17">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/у.gif" alt="У">
            <img src="../../../assets/img/Ж.gif" alt="Ж">
        </div>

        <div class="center">
            <img id="image1" src="../../../assets/img/Ж.gif" alt="ж">
            <button style="height:90px; display: flex; justify-content: center; align-items: center;" (click)="changeImage1()"><img style="height:70px;" src="../../../assets/img/стрелка.png"></button>
            <img id="image2" src="../../../assets/img/у.gif" alt="У">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage1()">Проверить</a>
        </div>
    </div>

    <div id="div18">
        <div>
            <img class="print" src="../../../assets/img/ком.jpg" alt="ком">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv19()">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/ком.jpg" alt="ком">
            <img class="letter" src="../../../assets/img/к.gif" alt="К">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/м.gif" alt="М">
        </div>

        <div>
            <button class="yellow noselect">ОКМ</button>
            <button class="yellow noselect">КЁМ</button>
            <button class="yellow noselect" (click)="viewDiv20()">КОМ</button>
            <button class="yellow noselect">КМО</button>
            <button class="yellow noselect">МОК</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px;" src="../../../assets/img/к.gif" alt="к">
            <img style="width: 100px;" src="../../../assets/img/o.gif" alt="О">
            <img style="width: 100px;" src="../../../assets/img/м.gif" alt="м">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForK2" (click)="clickDivForK2()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO" (click)="clickDivForO()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForM" (click)="clickDivForM()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/o.gif" id="imgO" class="imgInDiv" (click)="clickImgO()">
                <img src="../../../assets/img/к.gif" id="imgK2" class="imgInDiv" (click)="clickImgK2()">
                <img src="../../../assets/img/м.gif" id="imgM" class="imgInDiv" (click)="clickImgM()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv21()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <img class="print" src="../../../assets/img/лапа.png" alt="лапа">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv22()">Л</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>
    
        <div>
            <img class="print" src="../../../assets/img/лапа.png" alt="лапа">
            <img class="letter" src="../../../assets/img/л.gif" alt="Л">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
            <img class="letter" src="../../../assets/img/п.gif" alt="П">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width: 300px;" class="yellow noselect">ПУЛА</button>
            <button style="width: 300px;" class="yellow noselect" (click)="viewDiv23()">ЛАПА</button>
            <button style="width: 300px;" class="yellow noselect">ПАЛУ</button>
            <button style="width: 300px;" class="yellow noselect">ЛУПА</button>
            <button style="width: 300px;" class="yellow noselect">ПАЛА</button>
        </div>
    </div>

    <div id="div23">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="width: 100px;" src="../../../assets/img/а.gif" alt="А">
            <img style="width: 100px;" src="../../../assets/img/п.gif" alt="П">
            <img style="width: 100px;" src="../../../assets/img/а.gif" alt="А">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForL10" (click)="clickDivForL10()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA4" (click)="clickDivForA4()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForP" (click)="clickDivForP()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA5" (click)="clickDivForA5()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/а.gif" id="imgA4" class="imgInDiv" (click)="clickImgA4()">
                <img src="../../../assets/img/а.gif" id="imgA5" class="imgInDiv" (click)="clickImgA5()">
                <img src="../../../assets/img/п.gif" id="imgP" class="imgInDiv" (click)="clickImgP()">
                <img src="../../../assets/img/л.gif" id="imgL10" class="imgInDiv" (click)="clickImgL10()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv24()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div24">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и найди слова.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">КОМ</div>
                    <div class="divInDiv" id="divForClod" (click)="clickDivForClod()"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">ЛАПА</div>
                    <div class="divInDiv" id="divForPow" (click)="clickDivForPow()"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">УЖ</div>
                    <div class="divInDiv" id="divForSnake" (click)="clickDivForSnake()"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">БАБА</div>
                    <div class="divInDiv" id="divForGrandba" (click)="clickDivForGrandba()"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">БЕЛКА</div>
                    <div class="divInDiv" id="divForSquirrel2" (click)="clickDivForSquirrel2()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/баба.png" id="grandba" alt="баба" class="imgInDiv" (click)="clickImgGrandba()">
                <img src="../../../assets/img/уж.png" id="snake" alt="уж" class="imgInDiv" (click)="clickImgSnake()">
                <img src="../../../assets/img/белка.png" id="squirrel2" alt="белка" class="imgInDiv" (click)="clickImgSquirrel2()">
                <img src="../../../assets/img/ком.jpg" id="clod" alt="ком" class="imgInDiv" (click)="clickImgClod()">
                <img src="../../../assets/img/лапа.png" id="pow" alt="лапа" class="imgInDiv" (click)="clickImgPow()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv25()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div25">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/а.gif" alt="A">
            <img style="width: 110px;"  src="../../../assets/img/Д.gif" alt="Д">
            <img src="../../../assets/img/и.gif" alt="И">
            <img style="width: 110px;"  src="../../../assets/img/Ж.gif" alt="Ж">
            <img src="../../../assets/img/o.gif" alt="О">
            <img style="width: 110px;" src="../../../assets/img/л.gif" alt="л">
            <img style="width: 110px;"  src="../../../assets/img/Л(з).gif" alt="л">
            <img src="../../../assets/img/у.gif" alt="У">
            <img src="../../../assets/img/я.gif" alt="Я">
        </div>

        <div>
            <img style="width: 110px;" src="../../../assets/img/м.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/м2.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/к.gif" alt="К">
            <img style="width: 110px;"  src="../../../assets/img/п.gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/П(з).gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/е.gif" alt="Е">
            <img style="width: 110px;"  src="../../../assets/img/Б.gif" alt="Б">
            <img style="width: 110px;"  src="../../../assets/img/Б(з)).gif" alt="Б">
            <img style="width: 110px;"  src="../../../assets/img/Ё.gif" alt="Ё">
            <img style="width: 110px;"  src="../../../assets/img/Ю.gif" alt="Ю">
        </div>

        <div style="margin-bottom: 100px;">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv26()">Домашнее задание</a>
        </div>
    </div>

    <div id="div26">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">БАБА</span>
                <input id="input29" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">БЕЛКА</span>
                <input id="input30" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЖУК</span>
                <input id="input31" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛУК</span>
                <input id="input32" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛУПА</span>
                <input id="input33" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ДОМ</span>
                <input id="input34" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЁЖ</span>
                <input id="input35" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput4()">Проверить</a>
        </div>
    </div>
</div>