<div class="total">
    <div>
        <img class="sun" src="../../../assets/img/sun.gif" alt="sun">
        <img class="cloudl" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudr" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudsl" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="cloudsr" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="butterfliesl" src="../../../assets/img/butterflies.gif" alt="butterflies">
        <img class="butterfliesr" src="../../../assets/img/butterflies.gif" alt="butterflies">  
    </div>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/2.gif" alt="2">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p>которые любят петь.</p>
            <p style="color:red">Внимание!</p>
            <p>Продолжаем знакомство с весёлыми буковками.</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>