<div class="background">
    <div class="upperline">
        <div>
            <p class="p-children-study">ChildrenStudy</p>
        </div>

        <div class="button-row">
            <button class="action-button">Войти</button>
            <button class="action-button">Зарегистрироваться</button>
        </div>
    </div>


    <div class="div-websiteadvertising">
        <div>
            <img class="img-playingchildren" src="../assets/img/playingchildren.png">
        </div>

        <div class="div-ico">
            <ul class="ul-ico">
                <li class="li-ico-1">Математические задачи детям 5-12 лет</li>
                <li class="li-ico-2">Обучению чтению и грамоте</li>
                <li class="li-ico-3">Уроки по программированию (Scratch)</li>
            </ul>
        </div>
    </div>
</div>