<div class="background">
    <div class="upperline">
        <div>
            <p class="p-children-study">ChildrenStudy</p>
        </div>

        <div class="button-row">
            <button class="action-button">Войти</button>
            <button class="action-button">Зарегистрироваться</button>
        </div>
    </div>

    <div class="div-websiteadvertising">
        <div class="div-spacebetween">
            <div>
                <img class="img-playingchildren" src="../assets/img/playingchildren.png">
            </div>

            <div class="div-ico">
                <ul class="ul-ico">
                    <li class="li-ico">Математические занятия для детей 5-12 лет</li>
                    <li class="li-ico">Обучению чтению и грамоте детей от 4 лет</li>
                    <li class="li-ico">Уроки по программированию (Scratch) от 7 лет</li>
                </ul>
            </div>
        </div>

        <div class="registr">
            <p class="registr">Уроки проходят в формате онлайн в удобное для ребёнка время.</p>
            <p class="registr">После регистрации вы получите 3 бесплатных занятия для самостоятельного ознакомления.</p>
        </div>
    </div>

    <div class="footer">
        <p class="footer">&copy; ChildrenStudy</p>

        <div class="contact">
            <p class="contact">Наши контакты:</p>
            <div class="contact-ico">
                <div class="contact-phone">
                    <img class="contact-phone" src="../assets/img/ico-phone.png" alt>
                    <p class="contact-phone">+375-44-519-49-46</p>
                </div>

                <a href="https://instagram.com/guscharina?utm_medium=copy_link" rel="nofollow" target="_blank">
                    <picture>
                        <source type="image/webp" srcset="../assets/img/ico-inst.png">
                        <img class="contact" src="../assets/img/ico-inst.png" alt>
                    </picture>
                </a>
            </div>
        </div>
    </div>
</div>