<div class="total">
    <div>
        <img class="sun" src="../../../assets/img/sun.gif" alt="sun">
        <img class="cloudl" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudr" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudsl" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="cloudsr" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="butterfliesl" src="../../../assets/img/butterflies.gif" alt="butterflies">
        <img class="butterfliesr" src="../../../assets/img/butterflies.gif" alt="butterflies">  
    </div>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/9.gif" alt="9">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Узнай буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/у.gif" alt="у" id="u" class="imgInDiv" (click)="clickImgU()">
                <img style="border: 3px solid red;" src="../../../assets/img/и.gif" alt="и" id="i" class="imgInDiv" (click)="clickImgI()">
                <img style="border: 3px solid red;" src="../../../assets/img/а.gif" alt="а" id="a" class="imgInDiv" (click)="clickImgA()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/ирис.png" id="iris" alt="ирис" class="imgInDiv" (click)="clickImgIris()">
                <img src="../../../assets/img/акула.png" alt="акула" id="shark" class="imgInDiv" (click)="clickImgShark()">
                <img src="../../../assets/img/удод.png" alt="удод" id="udot" class="imgInDiv" (click)="clickImgUdot()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3()">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Вспомни буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/е.gif" alt="е" id="e" class="imgInDiv" (click)="clickImgE()">
                <img style="border: 3px solid red;" src="../../../assets/img/я.gif" alt="я" id="ya" class="imgInDiv" (click)="clickImgYa()">
                <img style="border: 3px solid red;" src="../../../assets/img/о.gif" alt="о" id="o" class="imgInDiv" (click)="clickImgO()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/ящерица.png" id="lizard" alt="ящерица" class="imgInDiv" (click)="clickImgLizard()">
                <img src="../../../assets/img/обруч.png" alt="обруч" id="hoop" class="imgInDiv" (click)="clickImgHoop()">
                <img src="../../../assets/img/енот.png" alt="енот" id="raccoon" class="imgInDiv" (click)="clickImgRaccoon()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style=" width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/л.gif" alt="Л" id="l" class="imgInDiv" (click)="clickImgL()">
                <img style="border: 3px solid red;" src="../../../assets/img/м.gif" alt="м" id="m" class="imgInDiv" (click)="clickImgM()">
                <img style="border: 3px solid red;" src="../../../assets/img/Ж.gif" alt="Ж" id="j" class="imgInDiv" (click)="clickImgJ()">
                <img style="border: 3px solid red;" src="../../../assets/img/м2.gif" alt="м" id="m2" class="imgInDiv" (click)="clickImgM2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/жук.png" id="beatle" alt="жук" class="imgInDiv" (click)="clickImgBeatle()">
                <img src="../../../assets/img/медуза.png" alt="медуза" id="jellyfish" class="imgInDiv" (click)="clickImgJellyfish()">
                <img src="../../../assets/img/малина.png" alt="малина" class="imgInDiv" id="raspberry" (click)="clickImgRaspberry()">
                <img src="../../../assets/img/лук.png" alt="лук" class="imgInDiv" id="onion" (click)="clickImgOnion()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style=" width:1000px; display:flex; justify-content: space-between; margin-bottom: 50px;">
                <img style="border: 3px solid red;" src="../../../assets/img/к.gif" alt="к" id="k" class="imgInDiv" (click)="clickImgK()">
                <img style="border: 3px solid red;" src="../../../assets/img/п.gif" alt="п" id="p" class="imgInDiv" (click)="clickImgP()">
                <img style="border: 3px solid red;" src="../../../assets/img/Ж.gif" alt="Ж" id="j2" class="imgInDiv" (click)="clickImgJ2()">
                <img style="border: 3px solid red;" src="../../../assets/img/П(з).gif" alt="п" id="p2" class="imgInDiv" (click)="clickImgP2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/попугай.png" id="parrot" alt="попугай" class="imgInDiv" (click)="clickImgParrot()">
                <img src="../../../assets/img/кактус.png" alt="кактус" id="cactus" class="imgInDiv" (click)="clickImgCactus()">
                <img src="../../../assets/img/пистолет.png" alt="пистолет" class="imgInDiv" id="gun" (click)="clickImgGun()">
                <img src="../../../assets/img/жираф.png" alt="жираф" class="imgInDiv" id="giraffe" (click)="clickImgGiraffe()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6()">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div style="line-height: 0.2;">
            <p>Знакомимся с новыми буковками,</p>
            <p>которые не любят петь.</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Д.gif" alt="Д">
            <img class="print" src="../../../assets/img/дом.png" alt="дом">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv7()">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Узнай, на какую букву начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; width: 1300px; justify-content:space-between; margin-bottom: 50px;">
                <img src="../../../assets/img/Ж.gif" alt="Ж" id="imgJ3" class="imgInDiv" (click)="clickImgJ3()">
                <img src="../../../assets/img/Д.gif" alt="Д" id="imgD" class="imgInDiv" (click)="clickImgD()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/дракон.png" id="dinosaur" alt="дракон" class="imgInDiv" (click)="clickImgDinosaur()">
                <img src="../../../assets/img/жук.png" alt="жук" id="beatle2" class="imgInDiv" (click)="clickImgBeatle2()">
                <img src="../../../assets/img/дождь.png" alt="дождь" id="rain" class="imgInDiv" (click)="clickImgRain()">
                <img src="../../../assets/img/жаба.png" alt="жаба" class="imgInDiv" id="toad" (click)="clickImgToad()">
                <img src="../../../assets/img/журавль.png" alt="журавль" class="imgInDiv" id="crane" (click)="clickImgCrane()">
                <img src="../../../assets/img/дерево.png" alt="дерево" class="imgInDiv" id="tree" (click)="clickImgTree()">
                <img src="../../../assets/img/дом.png" alt="дом" class="imgInDiv" id="house" (click)="clickImgHouse()">
                <img src="../../../assets/img/жираф.png" alt="жираф" class="imgInDiv" id="giraffe2" (click)="clickImgGiraffe2()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv8()">Жми!</a>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input id="input1" type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input id="input2" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input id="input3" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input id="input4" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ё</span>
                <input id="input5" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input id="input6" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input id="input7" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input id="input8" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input id="input9" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input id="input10" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input id="input11" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input id="input12" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Д</span>
                <input id="input13" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <img class="print" src="../../../assets/img/кот2.png" alt="кот2">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv10()">К</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Котик говорит</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/кот2.png" alt="кот">
            <img class="letter" src="../../../assets/img/м2.gif" alt="м">
            <img class="letter" src="../../../assets/img/я.gif" alt="я">
            <img class="letter" src="../../../assets/img/у.gif" alt="У">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">МУЯ</button>
            <button class="yellow noselect" (click)="viewDiv11()">МЯУ</button>
            <button class="yellow noselect">ЯМУ</button>
            <button class="yellow noselect">УМЯ</button>
            <button class="yellow noselect">УЯМ</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 100px;" src="../../../assets/img/м2.gif" alt="м">
            <img style="width: 100px;" src="../../../assets/img/я.gif" alt="я">
            <img style="width: 100px;" src="../../../assets/img/у.gif" alt="У">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForM" (click)="clickDivForM()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForYa" (click)="clickDivForYa()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForU" (click)="clickDivForU()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/м2.gif" id="imgM" class="imgInDiv" (click)="clickImgM3()">
                <img src="../../../assets/img/у.gif" id="imgU" class="imgInDiv" (click)="clickImgU2()">
                <img src="../../../assets/img/я.gif" id="imgYa" class="imgInDiv" (click)="clickImgYa2()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv12()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div12">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/ёж.png" alt="ёж">
            <img class="letter" src="../../../assets/img/Ё.gif" alt="ё">
            <img class="letter" src="../../../assets/img/Ж.gif" alt="Ж">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ЖЁ</button>
            <button class="yellow noselect">ЁМ</button>
            <button class="yellow noselect" (click)="viewDiv13()">ЁЖ</button>
            <button class="yellow noselect">ЕЖ</button>
            <button class="yellow noselect">ЖЕ</button>
        </div>
    </div>

    <div id="div13">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width: 150px;" src="../../../assets/img/ёж.png" alt="ёж">
            <img style="width: 100px;" src="../../../assets/img/Ё.gif" alt="Ё">
            <img style="width: 100px;" src="../../../assets/img/Ж.gif" alt="Ж">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForYo" (click)="clickDivForYo()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForJ" (click)="clickDivForJ()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/Ж.gif" id="imgJ7" class="imgInDiv" (click)="clickImgJ7()">
                <img src="../../../assets/img/Ё.gif" id="imgYo" class="imgInDiv" (click)="clickImgYo()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv14()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img style="height: 100px;" src="../../../assets/img/кот2.png">
            <img style="height: 100px;" src="../../../assets/img/ёж.png">
        </div>
    
        <div>
            <img class="letter" src="../../../assets/img/м.gif" alt="м">
            <img class="letter" src="../../../assets/img/о.gif" alt="О">
            <img class="letter" src="../../../assets/img/л.gif" alt="Л">
            <img class="letter" src="../../../assets/img/о.gif" alt="О">
            <img class="letter" src="../../../assets/img/к.gif" alt="К">
            <img class="letter" src="../../../assets/img/о.gif" alt="О">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width: 300px;" class="yellow noselect">МАЛОКО</button>
            <button style="width: 300px;" class="yellow noselect" (click)="viewDiv15()">МОЛОКО</button>
            <button style="width: 300px;" class="yellow noselect">МОЛАКО</button>
        </div>
    </div>

    <div id="div15">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height: 130px;" src="../../../assets/img/м.gif" alt="м">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForM4" (click)="clickDivForM4()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO2" (click)="clickDivForO2()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForL2" (click)="clickDivForL2()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO3" (click)="clickDivForO3()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForK2" (click)="clickDivForK2()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO4" (click)="clickDivForO4()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/о.gif" id="imgO2" class="imgInDiv" (click)="clickImgO2()">
                <img src="../../../assets/img/л.gif" id="imgL2" class="imgInDiv" (click)="clickImgL2()">
                <img src="../../../assets/img/м.gif" id="imgM4" class="imgInDiv" (click)="clickImgM4()">
                <img src="../../../assets/img/к.gif" id="imgK2" class="imgInDiv" (click)="clickImgK2()">
                <img src="../../../assets/img/о.gif" id="imgO3" class="imgInDiv" (click)="clickImgO3()">
                <img src="../../../assets/img/о.gif" id="imgO4" class="imgInDiv" (click)="clickImgO4()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height: 130px;" src="../../../assets/img/кот2.png" alt="кот">
            <img style="height: 130px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
            <img style="height: 130px;" src="../../../assets/img/м.gif" alt="М">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 50px;" src="../../../assets/img/точка.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display: flex; flex-direction: column;">
            <div>
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect" (click)="viewDiv17()">МОЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МАЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div17">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height: 130px;" src="../../../assets/img/кот2.png" alt="кот">
            <img style="height: 130px;" src="../../../assets/img/сердечко.png" alt="любит">
            <img style="height: 100px;" src="../../../assets/img/м.gif" alt="м">
            <img style="height: 100px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 100px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 100px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 100px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 100px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 50px; width:50px;" src="../../../assets/img/точка.png" alt="точка">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForCat" (click)="clickDivForCat()"></div>
                </div>
                
                <div class="inDiv">
                    <div class="divInDiv" id="divForH" (click)="clickDivForH()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForM5" (click)="clickDivForM5()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO5" (click)="clickDivForO5()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForL3" (click)="clickDivForL3()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO6" (click)="clickDivForO6()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForK3" (click)="clickDivForK3()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO7" (click)="clickDivForO7()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" style="display:flex; align-items: flex-end;" id="divForT" (click)="clickDivForT()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/о.gif" id="imgO5" class="imgInDiv" (click)="clickImgO5()">
                <img src="../../../assets/img/л.gif" id="imgL3" class="imgInDiv" (click)="clickImgL3()">
                <img src="../../../assets/img/кот2.png" id="imgCat" class="imgInDiv" (click)="clickImgCat()">
                <img src="../../../assets/img/м.gif" id="imgM5" class="imgInDiv" (click)="clickImgM5()">
                <img src="../../../assets/img/точка.png" style="height: 50px; width: 50px;" id="imgT" class="imgInDiv" (click)="clickImgT()">
                <img src="../../../assets/img/к.gif" id="imgK3" class="imgInDiv" (click)="clickImgK3()">
                <img src="../../../assets/img/сердечко.png" id="imgH" class="imgInDiv" (click)="clickImgH()">
                <img src="../../../assets/img/о.gif" id="imgO6" class="imgInDiv" (click)="clickImgO6()">
                <img src="../../../assets/img/о.gif" id="imgO7" class="imgInDiv" (click)="clickImgO7()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv18()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div18">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height: 130px;" src="../../../assets/img/ёж.png" alt="ёж">
            <img style="height: 130px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
            <img style="height: 130px;" src="../../../assets/img/м.gif" alt="М">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 50px; width:50px;" src="../../../assets/img/точка.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display: flex; flex-direction: column;">
            <div>
                <img style="height: 100px;" src="../../../assets/img/ёж.png" alt="ёж">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect" (click)="viewDiv19()">МОЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/ёж.png" alt="ёж">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МАЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/ёж.png" alt="ёж">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <p style="font-size: 1.3em; color: red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height: 130px;" src="../../../assets/img/ёж.png" alt="ёж">
            <img style="height: 130px;" src="../../../assets/img/сердечко.png" alt="любит">
            <img style="height: 100px;" src="../../../assets/img/м.gif" alt="м">
            <img style="height: 100px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 100px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 100px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 100px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 100px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 50px; width: 50x;" src="../../../assets/img/точка.png" alt="точка">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForHedgehog2" (click)="clickDivForHedgehog2()"></div>
                </div>
                
                <div class="inDiv">
                    <div class="divInDiv" id="divForH2" (click)="clickDivForH2()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForM14" (click)="clickDivForM14()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO9" (click)="clickDivForO9()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForL9" (click)="clickDivForL9()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO10" (click)="clickDivForO10()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForK7" (click)="clickDivForK7()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO11" (click)="clickDivForO11()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" style="display:flex; align-items: flex-end;" id="divForT2" (click)="clickDivForT2()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/о.gif" id="imgO9" class="imgInDiv" (click)="clickImgO9()">
                <img src="../../../assets/img/л.gif" id="imgL9" class="imgInDiv" (click)="clickImgL9()">
                <img src="../../../assets/img/ёж.png" id="imgHedgehog2" class="imgInDiv" (click)="clickImgHedgehog2()">
                <img src="../../../assets/img/м.gif" id="imgM14" class="imgInDiv" (click)="clickImgM14()">
                <img src="../../../assets/img/точка.png" style="height: 50px; width: 50px;" id="imgT2" class="imgInDiv" (click)="clickImgT2()">
                <img src="../../../assets/img/к.gif" id="imgK7" class="imgInDiv" (click)="clickImgK7()">
                <img src="../../../assets/img/сердечко.png" id="imgH2" class="imgInDiv" (click)="clickImgH2()">
                <img src="../../../assets/img/о.gif" id="imgO10" class="imgInDiv" (click)="clickImgO10()">
                <img src="../../../assets/img/о.gif" id="imgO11" class="imgInDiv" (click)="clickImgO11()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv20()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height: 130px; z-index: 3;" src="../../../assets/img/ёж.png" alt="ёж">
            <img style="height: 130px; margin-left: 20px; margin-right: 20px;" src="../../../assets/img/и.gif" alt="и">
            <img style="height: 130px;" src="../../../assets/img/кот2.png" alt="кот">
            <img style="height: 130px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
            <img style="height: 130px;" src="../../../assets/img/м.gif" alt="М">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/л.gif" alt="Л">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 130px;" src="../../../assets/img/к.gif" alt="К">
            <img style="height: 130px;" src="../../../assets/img/о.gif" alt="О">
            <img style="height: 50px; z-index: 3;" src="../../../assets/img/точка.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display: flex; flex-direction: column;">
            <div>
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/и.gif" alt="И">
                <img style="height: 100px;" src="../../../assets/img/ёж.png" alt="ёж">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МОЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/ёж.png" alt="ёж">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/и.gif" alt="и">
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect" (click)="viewDiv21()">МОЛОКО.</button>
            </div>

            <div>
                <img style="height: 100px;" src="../../../assets/img/ёж.png" alt="ёж">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/и.gif" alt="и">
                <img style="height: 100px;" src="../../../assets/img/кот2.png" alt="кот">
                <img style="height: 100px; margin-left: 50px; margin-right: 50px;" src="../../../assets/img/сердечко.png" alt="сердце">
                <button style="width: 305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">МАМА</span>
                <input id="input14" type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">МЯУ</span>
                <input id="input15" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МОЛОКО</span>
                <input id="input16" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ПАПА</span>
                <input id="input17" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЁЖ</span>
                <input id="input18" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput2()">Проверить</a>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/а.gif" alt="A">
            <img src="../../../assets/img/и.gif" alt="И">
            <img style="width: 110px;"  src="../../../assets/img/Ж.gif" alt="Ж">
            <img src="../../../assets/img/о.gif" alt="О">
            <img style="width: 110px;" src="../../../assets/img/л.gif" alt="л">
            <img style="width: 110px;"  src="../../../assets/img/Л(з).gif" alt="л">
            <img src="../../../assets/img/у.gif" alt="У">
            <img src="../../../assets/img/я.gif" alt="Я">
        </div>

        <div>
            <img style="width: 110px;" src="../../../assets/img/м.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/м2.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/к.gif" alt="К">
            <img style="width: 110px;"  src="../../../assets/img/К(з).gif" alt="К">
            <img style="width: 110px;"  src="../../../assets/img/п.gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/П(з).gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/е.gif" alt="Е">
            <img style="width: 110px;"  src="../../../assets/img/Ё.gif" alt="Ё">
            <img style="width: 110px;"  src="../../../assets/img/Д.gif" alt="Д">
        </div>

        <div style="margin-bottom: 100px;">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv23()">Домашнее задание</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши слова.</p>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row; margin-bottom: 50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/ёж.png" class="imgInDiv1" title="ЁЖ">
                <input id="input19" type="text" class="inputInDiv1">
            </div>


            <div class="imgAndInput">
                <img src="../../../assets/img/дождь.png" class="imgInDiv1" title="КАП-КАП">
                <input id="input20" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/кот2.png" class="imgInDiv1" title="МЯУ">
                <input id="input21" type="text" class="inputInDiv1">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МАМА</span>
                <input id="input22" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ПАПА</span>
                <input id="input23" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput3()">Проверить</a>
        </div>
    </div>
</div>