<div class="total">
    <div>
        <img class="sun" src="../../../assets/img/sun.gif" alt="sun">
        <img class="cloudl" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudr" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudsl" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="cloudsr" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="butterfliesl" src="../../../assets/img/butterflies.gif" alt="butterflies">
        <img class="butterfliesr" src="../../../assets/img/butterflies.gif" alt="butterflies">  
    </div>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
            <img class="number1" src="../../../assets/img/8.gif" alt="8">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Б</span>
                <input id="input1" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Н</span>
                <input id="input2" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Д</span>
                <input id="input3" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input id="input4" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input id="input5" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ё</span>
                <input id="input6" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input id="input7" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input id="input8" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input id="input9" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input id="input10" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input id="input11" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input id="input12" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input id="input13" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input id="input14" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input id="input15" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ю</span>
                <input id="input16" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; width: 1500px; justify-content: space-between; margin-bottom: 50px;">
                <img src="../../../assets/img/Б.gif" alt="Б" id="imgB" class="imgInDiv" (click)="clickImgB()">
                <img src="../../../assets/img/Б(з)).gif" alt="Б" id="imgB2" class="imgInDiv" (click)="clickImgB2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/бегемот.png" id="hippopotamus" alt="бегемот" class="imgInDiv" (click)="clickImgHippopotamus()">
                <img src="../../../assets/img/бочка.png" alt="бочка" id="barrel" class="imgInDiv" (click)="clickImgBarrel()">
                <img src="../../../assets/img/бегун.png" alt="бегун" id="runner" class="imgInDiv" (click)="clickImgRunner()">
                <img src="../../../assets/img/барабан.png" alt="барабан" class="imgInDiv" id="drum" (click)="clickImgDrum()">
                <img src="../../../assets/img/белка.png" alt="белка" id="squirrel" class="imgInDiv" (click)="clickImgSquirrel()">
                <img src="../../../assets/img/банан.png" alt="банан" class="imgInDiv" id="banana" (click)="clickImgBanana()">
                <img src="../../../assets/img/билет.png" alt="билет" id="ticket" class="imgInDiv" (click)="clickImgTicket()">
                <img src="../../../assets/img/баран.png" alt="баран" class="imgInDiv" id="ram" (click)="clickImgRam()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; width: 1500px; justify-content: space-between; margin-bottom: 50px;">
                <img src="../../../assets/img/Д.gif" alt="Д" id="imgD" class="imgInDiv" (click)="clickImgD()">
                <img src="../../../assets/img/Д(з).gif" alt="Д" id="imgD2" class="imgInDiv" (click)="clickImgD2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/диван.png" id="sofa" alt="диван" class="imgInDiv" (click)="clickImgSofa()">
                <img src="../../../assets/img/дыня.png" alt="дыня" id="melon" class="imgInDiv" (click)="clickImgMelon()">
                <img src="../../../assets/img/дятел.png" alt="дятел" id="woodpecker" class="imgInDiv" (click)="clickImgWoodpecker()">
                <img src="../../../assets/img/дрозд.png" alt="дрозд" class="imgInDiv" id="blackbird" (click)="clickImgBlackbird()">
                <img src="../../../assets/img/дерево.png" alt="дерево" id="tree" class="imgInDiv" (click)="clickImgTree()">
                <img src="../../../assets/img/дракон.png" alt="дракон" class="imgInDiv" id="dragon" (click)="clickImgDragon()">
                <img src="../../../assets/img/дельфин.png" alt="дельфин" id="dolphin" class="imgInDiv" (click)="clickImgDolphin()">
                <img src="../../../assets/img/дом.png" alt="дом" class="imgInDiv" id="house" (click)="clickImgHouse()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Новая буква!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Г(з).gif" alt="Г">
            <img class="letter" src="../../../assets/img/Г(с).gif" alt="Г">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect" (click)="viewDiv6()">Г</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; width: 1500px; justify-content: space-between; margin-bottom: 50px;">
                <img src="../../../assets/img/Г(с).gif" id="imgG" alt="Г" class="imgInDiv" (click)="clickImgG()">
                <img src="../../../assets/img/Г(з).gif" id="imgG2" alt="Г" class="imgInDiv" (click)="clickImgG2()">
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/гиря.png" id="kettlebell" alt="гиря" class="imgInDiv" (click)="clickImgKettlebell()">
                <img src="../../../assets/img/гном.png" alt="гном" id="dwarf" class="imgInDiv" (click)="clickImgDwarf()">
                <img src="../../../assets/img/георгины.png" alt="георгины" id="dahlias" class="imgInDiv" (click)="clickImgDahlias()">
                <img src="../../../assets/img/галка.png" alt="галка" class="imgInDiv" id="rook" (click)="clickImgRook()">
                <img src="../../../assets/img/гитара.png" alt="гитар" id="guitar" class="imgInDiv" (click)="clickImgGuitar()">
                <img src="../../../assets/img/голубь.png" alt="голубь" class="imgInDiv" id="pigeon" (click)="clickImgPigeon()">
                <img src="../../../assets/img/гиена.png" alt="гиена" id="hyena" class="imgInDiv" (click)="clickImgHyena()">
                <img src="../../../assets/img/гусь.png" alt="гусь" class="imgInDiv" id="goose" (click)="clickImgGoose()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7()">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Г(с).gif" alt="Г">
            <img class="print" src="../../../assets/img/гном.png" alt="гном">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv8()">Г</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Прочитай слово!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Г(с).gif" alt="Г">
            <img class="letter" src="../../../assets/img/Н.gif" alt="Н">
            <img class="letter" src="../../../assets/img/о.gif" alt="О">
            <img class="letter" src="../../../assets/img/м.gif" alt="М">
            <img class="print" src="../../../assets/img/гном.png" alt="гном">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width: 200px;" class="yellow noselect">ГНЕМ</button>
            <button style="width: 200px;" class="yellow noselect">ГНАМ</button>
            <button style="width: 200px;" class="yellow noselect">НОМГ</button>
            <button style="width: 200px;" class="yellow noselect" (click)="viewDiv9()">ГНОМ</button>
            <button style="width: 200px;" class="yellow noselect">МОНГ</button>
        </div>
    </div>

    <div id="div9">
        <div style="display: flex; flex-direction:row;">
            <img style="height: 100px;" class="print" src="../../../assets/img/гном.png" alt="гном">
            <p style="font-size: 1.3em; color: red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForG3" (click)="clickDivForG3()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForN" (click)="clickDivForN()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForO" (click)="clickDivForO()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForM" (click)="clickDivForM()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/м.gif" id="imgM" class="imgInDiv" (click)="clickImgM()">
                <img src="../../../assets/img/Г(с).gif" id="imgG3" class="imgInDiv" (click)="clickImgG3()">
                <img src="../../../assets/img/Н.gif" id="imgN" class="imgInDiv" (click)="clickImgN()">
                <img src="../../../assets/img/о.gif" id="imgO" class="imgInDiv" (click)="clickImgO()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv10()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/галка.png" alt="галка">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect" (click)="viewDiv11()">Г</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/галка.png" alt="галка">
            <img class="letter" src="../../../assets/img/Г(с).gif" alt="Г">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
            <img class="letter" src="../../../assets/img/л.gif" alt="Л">
            <img class="letter" src="../../../assets/img/к.gif" alt="К">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
        </div>

        <div>
            <button style="width: 290px;" class="yellow noselect">ГАНКА</button>
            <button style="width: 290px;" class="yellow noselect">ГУЛКА</button>
            <button style="width: 290px;" class="yellow noselect">КАЛГА</button>
            <button style="width: 290px;" class="yellow noselect" (click)="viewDiv12()">ГАЛКА</button>
            <button style="width: 290px;" class="yellow noselect">ЛАКГА</button>
        </div>
    </div>

    <div id="div12">
        <div style="display: flex; flex-direction: row;">
            <img style="height: 100px;" class="print" src="../../../assets/img/галка.png" alt="галка">
            <p style="font-size: 1.3em; color: red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForG4" (click)="clickDivForG4()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA" (click)="clickDivForA()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForL" (click)="clickDivForL()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForK" (click)="clickDivForK()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA2" (click)="clickDivForA2()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/а.gif" id="imgA" class="imgInDiv" (click)="clickImgA()">
                <img src="../../../assets/img/а.gif" id="imgA2" class="imgInDiv" (click)="clickImgA2()">
                <img src="../../../assets/img/Г(с).gif" id="imgG4" class="imgInDiv" (click)="clickImgG4()">
                <img src="../../../assets/img/к.gif" id="imgK" class="imgInDiv" (click)="clickImgK()">
                <img src="../../../assets/img/л.gif" id="imgL" class="imgInDiv" (click)="clickImgL()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv13()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/гиена.png" alt="гиена">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect" (click)="viewDiv14()">Г</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/гиена.png" alt="гиена">
            <img class="letter" src="../../../assets/img/Г(з).gif" alt="Г">
            <img class="letter" src="../../../assets/img/и.gif" alt="И">
            <img class="letter" src="../../../assets/img/е.gif" alt="Е">
            <img class="letter" src="../../../assets/img/Н.gif" alt="Н">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
        </div>

        <div>
            <button style="width: 290px;" class="yellow noselect">НИЕГА</button>
            <button style="width: 290px;" class="yellow noselect">ГИЁНА</button>
            <button style="width: 290px;" class="yellow noselect">ГЕИНА</button>
            <button style="width: 290px;" class="yellow noselect" (click)="viewDiv15()">ГИЕНА</button>
            <button style="width: 290px;" class="yellow noselect">ГИЕКА</button>
        </div>
    </div>

    <div id="div15">
        <div style="display: flex; flex-direction: row;">
            <img style="height: 100px;" class="print" src="../../../assets/img/гиена.png" alt="гиена">
            <p style="font-size: 1.3em; color: red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForG5" (click)="clickDivForG5()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForI" (click)="clickDivForI()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForE" (click)="clickDivForE()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForN2" (click)="clickDivForN2()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForA3" (click)="clickDivForA3()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/и.gif" id="imgI" class="imgInDiv" (click)="clickImgI()">
                <img src="../../../assets/img/а.gif" id="imgA3" class="imgInDiv" (click)="clickImgA3()">
                <img src="../../../assets/img/Г(з).gif" id="imgG5" class="imgInDiv" (click)="clickImgG5()">
                <img src="../../../assets/img/Н.gif" id="imgN2" class="imgInDiv" (click)="clickImgN2()">
                <img src="../../../assets/img/е.gif" id="imgE" class="imgInDiv" (click)="clickImgE()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <img class="print" src="../../../assets/img/жук.png" alt="жук">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect" (click)="viewDiv17()">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/жук.png" alt="жук">
            <img class="letter" src="../../../assets/img/Ж.gif" alt="Ж">
            <img class="letter" src="../../../assets/img/у.gif" alt="У">
            <img class="letter" src="../../../assets/img/к.gif" alt="К">
        </div>

        <div>
            <button style="width: 180px;" class="yellow noselect">ЖАК</button>
            <button style="width: 180px;" class="yellow noselect" (click)="viewDiv18()">ЖУК</button>
            <button style="width: 180px;" class="yellow noselect">ЖЮК</button>
            <button style="width: 180px;" class="yellow noselect">КУЖ</button>
            <button style="width: 180px;" class="yellow noselect">УКЖ</button>
        </div>
    </div>

    <div id="div18">
        <div style="display: flex; flex-direction: row;">
            <img style="height: 100px;" class="print" src="../../../assets/img/жук.png" alt="жук">
            <p style="font-size: 1.3em; color: red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="divInDiv" id="divForJ5" (click)="clickDivForJ5()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForU" (click)="clickDivForU()"></div>
                </div>

                <div class="inDiv">
                    <div class="divInDiv" id="divForK10" (click)="clickDivForK10()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/Ж.gif" id="imgJ5" class="imgInDiv" (click)="clickImgJ5()">
                <img src="../../../assets/img/к.gif" id="imgK10" class="imgInDiv" (click)="clickImgK10()">
                <img src="../../../assets/img/у.gif" id="imgU" class="imgInDiv" (click)="clickImgU()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <img class="letter" src="../../../assets/img/Б.gif" alt="Б">
            <img class="print" src="../../../assets/img/банан.png" alt="банан">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect" (click)="viewDiv20()">Б</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/белка.png" alt="банан">
            <img class="letter" src="../../../assets/img/Б(з)).gif" alt="Б">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
            <img class="letter" src="../../../assets/img/Н.gif" alt="Н">
            <img class="letter" src="../../../assets/img/а.gif" alt="А">
            <img class="letter" src="../../../assets/img/Н.gif" alt="Н">
        </div>

        <div>
            <button style="width: 290px;" class="yellow noselect">БАКАН</button>
            <button style="width: 290px;" class="yellow noselect" (click)="viewDiv21()">БАНАН</button>
            <button style="width: 290px;" class="yellow noselect">НБАНА</button>
            <button style="width: 290px;" class="yellow noselect">БААНН</button>
            <button style="width: 290px;" class="yellow noselect">БАНАБ</button>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Прочитай и запиши слоги.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ГЯ</span>
                <input id="input17" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГЕ</span>
                <input id="input18" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГУ</span>
                <input id="input19" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГА</span>
                <input id="input20" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГИ</span>
                <input id="input21" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ГО</span>
                <input id="input22" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГЮ</span>
                <input id="input23" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГЁ</span>
                <input id="input24" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput2()">Проверить</a>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/а.gif" alt="A">
            <img style="width: 110px;"  src="../../../assets/img/Д.gif" alt="Д">
            <img style="width: 110px;"  src="../../../assets/img/Д(з).gif" alt="Д">
            <img src="../../../assets/img/и.gif" alt="И">
            <img style="width: 110px;"  src="../../../assets/img/Ж.gif" alt="Ж">
            <img src="../../../assets/img/о.gif" alt="О">
            <img style="width: 110px;" src="../../../assets/img/л.gif" alt="л">
            <img style="width: 110px;"  src="../../../assets/img/Л(з).gif" alt="л">
            <img src="../../../assets/img/у.gif" alt="У">
            <img style="width: 110px;" src="../../../assets/img/Н.gif" alt="Н">
            <img style="width: 110px;"  src="../../../assets/img/Н(з).gif" alt="Н">
            <img src="../../../assets/img/я.gif" alt="Я">
            <img style="width: 110px;" src="../../../assets/img/Г(с).gif" alt="Г">
            <img style="width: 110px;"  src="../../../assets/img/Г(з).gif" alt="Г">
        </div>

        <div>
            <img style="width: 110px;" src="../../../assets/img/м.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/м2.gif" alt="М">
            <img style="width: 110px;"  src="../../../assets/img/к.gif" alt="К">
            <img style="width: 110px;"  src="../../../assets/img/К(з).gif" alt="К">
            <img style="width: 110px;"  src="../../../assets/img/е.gif" alt="Е">
            <img style="width: 110px;"  src="../../../assets/img/Б.gif" alt="Б">
            <img style="width: 110px;"  src="../../../assets/img/Б(з)).gif" alt="Б">
            <img style="width: 110px;"  src="../../../assets/img/Ё.gif" alt="Ё">
            <img style="width: 110px;"  src="../../../assets/img/п.gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/П(з).gif" alt="П">
            <img style="width: 110px;"  src="../../../assets/img/Ю.gif" alt="Ю">
        </div>

        <div style="margin-bottom: 100px;">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv23()">Домашнее задание</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row; margin-bottom: 50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/гном.png" class="imgInDiv1" title="ГНОМ" alt="гном">
                <input id="input25" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/галка.png" class="imgInDiv1" title="ГАЛКА" alt="галка">
                <input id="input26" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/гиена.png" class="imgInDiv1" title="ГИЕНА" alt="гиена">
                <input id="input27" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/булка.png" class="imgInDiv1" title="БУЛКА" alt="булка">
                <input id="input28" type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/белка.png" class="imgInDiv1" title="БЕЛКА" alt="белка">
                <input id="input29" type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput3()">Проверить</a>
        </div>
    </div>
</div>