<div class="total">
    <div>
        <img class="sun" src="../../../assets/img/sun.gif" alt="sun">
        <img class="cloudl" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudr" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudsl" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="cloudsr" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="butterfliesl" src="../../../assets/img/butterflies.gif" alt="butterflies">
        <img class="butterfliesr" src="../../../assets/img/butterflies.gif" alt="butterflies">  
    </div>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
        </div>

        <div class="text">
            <p>В стране Русского языка живут буквы и звуки.</p>
            <p>Знакомимся с жителями страны - весёлыми человечками-буковками.</p>
            <p>Веселые озорные человечки очень любят говорить, петь и шутить.</p>
            <p style="color:red">Внимание!</p>
            <p>Начинаем знакомство с весёлыми буковками-певуньями.</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <img class="print" src="../../../assets/img/арбуз.png" alt="арбуз">
            <img class="letter" src="../../../assets/img/а.gif" alt="а">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect" (click)="viewDiv3()">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">З</button>
        </div>
    </div>

    <div id="div3">
        <div>
            <img class="cloudo" src="../../../assets/img/cloud.gif" alt="облако">
            <img class="letter" src="../../../assets/img/o.gif" alt="о">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv4()">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Б</button>
        </div>
    </div>

    <div id="div4">
        <div>
            <img class="print" src="../../../assets/img/яблоко.png" alt="яблоко">
            <img class="letter" src="../../../assets/img/я.gif" alt="я">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect" (click)="viewDiv5()">Я</button>
            <button class="yellow noselect">В</button>
        </div>
    </div>

    <div id="div5">
        <div>
            <img class="print" src="../../../assets/img/игла.png" alt="игла">
            <img class="letter" src="../../../assets/img/и.gif" alt="и">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect" (click)="viewDiv6()">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">П</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <img class="letter" src="../../../assets/img/и.gif" alt="и">
            <img class="letter" src="../../../assets/img/а.gif" alt="а">
            <img class="print" src="../../../assets/img/осел.png" alt="осел">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv7()">ИА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <img class="print" src="../../../assets/img/улитка.png" alt="улитка">
            <img class="letter" src="../../../assets/img/у.gif" alt="у">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv8()">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <img class="letter" src="../../../assets/img/у.gif" alt="у">
            <img class="letter" src="../../../assets/img/а.gif" alt="а">
            <img class="print" src="../../../assets/img/малыш.png" alt="малыш">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv9()">УА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div9">
        <div>
            <img class="letter" src="../../../assets/img/а.gif" alt="а">
            <img class="letter" src="../../../assets/img/у.gif" alt="у">
            <img class="print" src="../../../assets/img/ау.png" alt="ау">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect">УА</button>
            <button class="yellow noselect" (click)="viewDiv10()">АУ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div10">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/и.gif" alt="и">
            <img src="../../../assets/img/а.gif" alt="а">
        </div>

        <div class="center">
            <img id="image1" src="../../../assets/img/а.gif" alt="а">
            <button style="height:90px; display: flex; justify-content: center; align-items: center;" (click)="changeImage1()"><img style="height:70px;" src="../../../assets/img/стрелка.png"></button>
            <img id="image2" src="../../../assets/img/и.gif" alt="и">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage1()">Проверить</a>
        </div>

    </div>

    <div id="div11">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/у.gif" alt="у">
            <img src="../../../assets/img/а.gif" alt="а">
        </div>

        <div class="center">
            <img id="image3" src="../../../assets/img/а.gif" alt="а">
            <button style="height:90px; display: flex; justify-content: center; align-items: center;" (click)="changeImage2()"><img style="height:70px;" src="../../../assets/img/стрелка.png"></button>
            <img id="image4" src="../../../assets/img/у.gif" alt="у">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage2()">Проверить</a>
        </div>

    </div>

    <div id="div12">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/а.gif" alt="а">
            <img src="../../../assets/img/у.gif" alt="у">
        </div>

        <div class="center">
            <img id="image5" src="../../../assets/img/у.gif" alt="у">
            <button style="height:90px; display: flex; justify-content: center; align-items: center;" (click)="changeImage3()"><img style="height:70px;" src="../../../assets/img/стрелка.png"></button>
            <img id="image6" src="../../../assets/img/а.gif" alt="а">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage3()">Проверить</a>
        </div>

    </div>

    <div id="div13">
        <div>
            <p style="font-size: 2em; color: red;">Найди, кто как говорит.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">АУ</div>
                    <div class="divInDiv" id="divForCry" (click)="clickDivForCry()"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">УИ</div>
                    <div class="divInDiv" id="empty"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ИА</div>
                    <div class="divInDiv" id="divForDonkey" (click)="clickDivForDonkey()"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">УА</div>
                    <div class="divInDiv" id="divForBaby" (click)="clickDivForBaby()"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/малыш.png" id="baby" class="imgInDiv" (click)="clickImgBaby()">
                <img src="../../../assets/img/осел.png" id="donkey" class="imgInDiv" (click)="clickImgDonkey()">
                <img src="../../../assets/img/ау.png" id="cry" class="imgInDiv" (click)="clickImgCry()">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv14()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div14">
        <div>
            <p style="font-size: 2em; color: red;">Прочитай и запиши.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">АУ</span>
                <input id="input1" type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">ИА</span>
                <input id="input2" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УА</span>
                <input id="input3" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p style="font-size: 2em; color: red;">Посмотри и запиши.</p>
            <p>Вспомни, на какую букву начинаются слова.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <img src="../../../assets/img/игла.png" alt="игла" title="И" class="imgInDiv1">
                <input style="width:148px;" type="text" id="input4" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/арбуз.png" alt="арбуз" title="А" class="imgInDiv1">
                <input style="width:148px;" type = "text" id="input5" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/улитка.png" alt="улитка" title="У" class="imgInDiv1">
                <input style="width:148px;" type="text" id="input6" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/осел.png" alt="осел" title="ИА" class="imgInDiv1">
                <input style="width:148px;" type="text" id="input7" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/ау.png" alt="ау" title="АУ" class="imgInDiv1">
                <input style="width:148px;" type="text" id="input8" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/малыш.png" alt="малыш" title="УА" class="imgInDiv1">
                <input style="width:148px;" type="text" id="input9" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/cloud.gif" alt="облако" title="О" class="imgInDiv1">
                <input style="width:148px;" type="text" id="input10" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/яблоко.png" alt="яблоко" title="Я" class="imgInDiv1">
                <input style="width:148px;" type="text" id="input11" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput2()">Проверить</a>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/а.gif" alt="A">
            <img src="../../../assets/img/и.gif" alt="И">
            <img src="../../../assets/img/o.gif" alt="О">
            <img src="../../../assets/img/у.gif" alt="У">
            <img src="../../../assets/img/я.gif" alt="Я">
        </div>

        <div>
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
            <img src="../../../assets/img/звезды.gif" alt="звезды">
        </div>
    </div>
</div>